---
http_interactions:
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname&query=blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - "<SCOPUS_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - "<SCOPUS_API_TOKEN>"
      X-Els-Reqid:
      - 69cfd778318c9508
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - OK
      X-Els-Transid:
      - c5c56965d14d2d2a
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19939'
      X-Ratelimit-Reset:
      - '1635319202000'
    body:
      encoding: UTF-8
      string: '{"search-results":{"opensearch:totalResults":"48202","opensearch:startIndex":"0","opensearch:itemsPerPage":"25","opensearch:Query":{"@role":
        "request", "@searchTerms": "blockchain", "@startPage": "0"},"link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count&field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "first", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count&field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "next", "@href": "https://api.elsevier.com/content/search/scopus?start=25&count=25&query=blockchain&sort=citedby-count&field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "last", "@href": "https://api.elsevier.com/content/search/scopus?start=4975&count=25&query=blockchain&sort=citedby-count&field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84979828304","eid":"2-s2.0-84979828304","dc:title":"Blockchains
        and Smart Contracts for the Internet of Things","prism:publicationName":"IEEE
        Access","prism:coverDate":"2016-01-01","citedby-count":"1802","affiliation":
        [{"@_fa": "true", "affilname":"NC State University"}],"author": [{"@_fa":
        "true", "authname":"Christidis K."},{"@_fa": "true", "authname":"Devetsikiotis
        M."}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85019665012","eid":"2-s2.0-85019665012","dc:title":"An
        Overview of Blockchain Technology: Architecture, Consensus, and Future Trends","prism:publicationName":"Proceedings
        - 2017 IEEE 6th International Congress on Big Data, BigData Congress 2017","prism:coverDate":"2017-09-07","citedby-count":"1275","affiliation":
        [{"@_fa": "true", "affilname":"National Key Laboratory for Parallel and Distributed
        Processing"},{"@_fa": "true", "affilname":"Macau University of Science and
        Technology"},{"@_fa": "true", "affilname":"Sun Yat-Sen University"}],"author":
        [{"@_fa": "true", "authname":"Zheng Z."},{"@_fa": "true", "authname":"Xie
        S."},{"@_fa": "true", "authname":"Dai H."},{"@_fa": "true", "authname":"Chen
        X."},{"@_fa": "true", "authname":"Wang H."}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84945945234","eid":"2-s2.0-84945945234","dc:title":"Decentralizing
        privacy: Using blockchain to protect personal data","prism:publicationName":"Proceedings
        - 2015 IEEE Security and Privacy Workshops, SPW 2015","prism:coverDate":"2015-07-17","citedby-count":"1205","affiliation":
        [{"@_fa": "true", "affilname":"Tel Aviv University"},{"@_fa": "true", "affilname":"MIT
        Media Lab"}],"author": [{"@_fa": "true", "authname":"Zyskind G."},{"@_fa":
        "true", "authname":"Nathan O."},{"@_fa": "true", "authname":"Pentland A."}]},{"@_fa":
        "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84987677692","eid":"2-s2.0-84987677692","dc:title":"Hawk:
        The Blockchain Model of Cryptography and Privacy-Preserving Smart Contracts","prism:publicationName":"Proceedings
        - 2016 IEEE Symposium on Security and Privacy, SP 2016","prism:coverDate":"2016-08-16","citedby-count":"1014","affiliation":
        [{"@_fa": "true", "affilname":"University of Maryland, College Park"},{"@_fa":
        "true", "affilname":"Cornell University"}],"author": [{"@_fa": "true", "authname":"Kosba
        A."},{"@_fa": "true", "authname":"Miller A."},{"@_fa": "true", "authname":"Shi
        E."},{"@_fa": "true", "authname":"Wen Z."},{"@_fa": "true", "authname":"Papamanthou
        C."}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85035321551","eid":"2-s2.0-85035321551","dc:title":"IoT
        security: Review, blockchain solutions, and open challenges","prism:publicationName":"Future
        Generation Computer Systems","prism:coverDate":"2018-05-01","citedby-count":"868","affiliation":
        [{"@_fa": "true", "affilname":"Khalifa University of Science and Technology"},{"@_fa":
        "true", "affilname":"Bahauddin Zakariya University"}],"author": [{"@_fa":
        "true", "authname":"Khan M.A."},{"@_fa": "true", "authname":"Salah K."}]},{"@_fa":
        "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85050874028","eid":"2-s2.0-85050874028","dc:title":"Hyperledger
        Fabric: A Distributed Operating System for Permissioned Blockchains","prism:publicationName":"Proceedings
        of the 13th EuroSys Conference, EuroSys 2018","prism:coverDate":"2018-04-23","citedby-count":"867","affiliation":
        [{"@_fa": "true", "affilname":"International Business Machines"}],"author":
        [{"@_fa": "true", "authname":"Androulaki E."},{"@_fa": "true", "authname":"Barger
        A."},{"@_fa": "true", "authname":"Bortnikov V."},{"@_fa": "true", "authname":"Muralidharan
      [...]
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?field=authname,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname&query=Blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - bad token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Els-Reqid:
      - e8007f22b2ba74be
      X-Els-Transid:
      - 2d22d1a6c8f8bffa
    body:
      encoding: ASCII-8BIT
      string: '{"error-response":{"error-code":"APIKEY_INVALID","error-message":"The
        provided apiKey is invalid."}}'
  recorded_at: Fri, 22 Oct 2021 09:36:45 GMT
recorded_with: VCR 6.0.0
