---
http_interactions:
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?field=dc:creator,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname&query=blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - "<SCOPUS_API_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Allow:
      - GET
      X-Els-Apikey:
      - "<SCOPUS_API_TOKEN>"
      X-Els-Reqid:
      - 2390209d5214b262
      X-Els-Resourceversion:
      - default
      X-Els-Status:
      - OK
      X-Els-Transid:
      - fed9a563f5d292d2
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19991'
      X-Ratelimit-Reset:
      - '1635470767000'
    body:
      encoding: UTF-8
      string: '{"search-results":{"opensearch:totalResults":"48202","opensearch:startIndex":"0","opensearch:itemsPerPage":"25","opensearch:Query":{"@role":
        "request", "@searchTerms": "blockchain", "@startPage": "0"},"link": [{"@_fa":
        "true", "@ref": "self", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count&field=dc%3Acreator%2Cdc%3Atitle%2Ceid%2Ccitedby-count%2Cprism%3Aurl%2Cprism%3ApublicationName%2Cprism%3AcoverDate%2Caffilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "first", "@href": "https://api.elsevier.com/content/search/scopus?start=0&count=25&query=blockchain&sort=citedby-count&field=dc%3Acreator%2Cdc%3Atitle%2Ceid%2Ccitedby-count%2Cprism%3Aurl%2Cprism%3ApublicationName%2Cprism%3AcoverDate%2Caffilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "next", "@href": "https://api.elsevier.com/content/search/scopus?start=25&count=25&query=blockchain&sort=citedby-count&field=dc%3Acreator%2Cdc%3Atitle%2Ceid%2Ccitedby-count%2Cprism%3Aurl%2Cprism%3ApublicationName%2Cprism%3AcoverDate%2Caffilname",
        "@type": "application/json"},{"@_fa": "true", "@ref": "last", "@href": "https://api.elsevier.com/content/search/scopus?start=4975&count=25&query=blockchain&sort=citedby-count&field=dc%3Acreator%2Cdc%3Atitle%2Ceid%2Ccitedby-count%2Cprism%3Aurl%2Cprism%3ApublicationName%2Cprism%3AcoverDate%2Caffilname",
        "@type": "application/json"}],"entry": [{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84979828304","eid":"2-s2.0-84979828304","dc:title":"Blockchains
        and Smart Contracts for the Internet of Things","dc:creator":"Christidis K.","prism:publicationName":"IEEE
        Access","prism:coverDate":"2016-01-01","citedby-count":"1802","affiliation":
        [{"@_fa": "true", "affilname":"NC State University"}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85019665012","eid":"2-s2.0-85019665012","dc:title":"An
        Overview of Blockchain Technology: Architecture, Consensus, and Future Trends","dc:creator":"Zheng
        Z.","prism:publicationName":"Proceedings - 2017 IEEE 6th International Congress
        on Big Data, BigData Congress 2017","prism:coverDate":"2017-09-07","citedby-count":"1275","affiliation":
        [{"@_fa": "true", "affilname":"National Key Laboratory for Parallel and Distributed
        Processing"},{"@_fa": "true", "affilname":"Macau University of Science and
        Technology"},{"@_fa": "true", "affilname":"Sun Yat-Sen University"}]},{"@_fa":
        "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84945945234","eid":"2-s2.0-84945945234","dc:title":"Decentralizing
        privacy: Using blockchain to protect personal data","dc:creator":"Zyskind
        G.","prism:publicationName":"Proceedings - 2015 IEEE Security and Privacy
        Workshops, SPW 2015","prism:coverDate":"2015-07-17","citedby-count":"1205","affiliation":
        [{"@_fa": "true", "affilname":"Tel Aviv University"},{"@_fa": "true", "affilname":"MIT
        Media Lab"}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84987677692","eid":"2-s2.0-84987677692","dc:title":"Hawk:
        The Blockchain Model of Cryptography and Privacy-Preserving Smart Contracts","dc:creator":"Kosba
        A.","prism:publicationName":"Proceedings - 2016 IEEE Symposium on Security
        and Privacy, SP 2016","prism:coverDate":"2016-08-16","citedby-count":"1014","affiliation":
        [{"@_fa": "true", "affilname":"University of Maryland, College Park"},{"@_fa":
        "true", "affilname":"Cornell University"}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85035321551","eid":"2-s2.0-85035321551","dc:title":"IoT
        security: Review, blockchain solutions, and open challenges","dc:creator":"Khan
        M.A.","prism:publicationName":"Future Generation Computer Systems","prism:coverDate":"2018-05-01","citedby-count":"868","affiliation":
        [{"@_fa": "true", "affilname":"Khalifa University of Science and Technology"},{"@_fa":
        "true", "affilname":"Bahauddin Zakariya University"}]},{"@_fa": "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/85050874028","eid":"2-s2.0-85050874028","dc:title":"Hyperledger
        Fabric: A Distributed Operating System for Permissioned Blockchains","dc:creator":"Androulaki
        E.","prism:publicationName":"Proceedings of the 13th EuroSys Conference, EuroSys
        2018","prism:coverDate":"2018-04-23","citedby-count":"867","affiliation":
        [{"@_fa": "true", "affilname":"International Business Machines"}]},{"@_fa":
        "true", "prism:url":"https://api.elsevier.com/content/abstract/scopus_id/84991717011","eid":"2-s2.0-84991717011","dc:title":"MedRec:
        Using blo[...]
- request:
    method: get
    uri: https://api.elsevier.com/content/search/scopus?field=dc:creator,dc:title,eid,citedby-count,prism:url,prism:publicationName,prism:coverDate,affilname&query=blockchain&sort=citedby-count
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Els-Apikey:
      - bad token
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Els-Reqid:
      - 76bbca4ef9dc5d42
      X-Els-Transid:
      - 6d98e0e32f0c4911
    body:
      encoding: ASCII-8BIT
      string: '{"error-response":{"error-code":"APIKEY_INVALID","error-message":"The
        provided apiKey is invalid."}}'
  recorded_at: Fri, 22 Oct 2021 14:10:33 GMT
recorded_with: VCR 6.0.0
